$primary-color: #27814c;
$secondary-color: #0fad51;
$button-color: #5a2cd7;
$font-color: #333;
$background-color: #ffffff;
$border-radius-card: 8px;
$icon-size: 18px;
$font-size: 18px;
$font-family: 'Roboto', sans-serif;