* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px;
}

.filter-panel {
    width: 250px;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
    position: flex;
    top: 20px;
}

.filter-panel h2 {
    margin-top: 0;
    color: #333;
}

.filter-section {
    margin-bottom: 0px;
}

.filter-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.filter-section label {
    display: block;
    margin-bottom: 8px;
}

.apply-filters {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-filters:hover {
    background-color: #e68a00;
}

.products {
    margin-left: 55px;
    flex-grow: 1;
}

.products h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.checked {
    color: orange;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}